/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 64px;
}

/* ---- typography ---- */

/* ---- layout ---- */


.navbar {
  overflow: hidden;
  background-color:white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 12px;
}

.navbar img {
  height: 52px;
  float: left;
}

 .navbar a {
  float: right;
  display: block;
  color: #1A1A1A;
  text-decoration: none;
  font-size: 18px;
  margin-left: 12px;
  line-height: 52px;
 }
 
 .navbar a:hover {
   color: grey;
 }
 
 @media only screen and (max-width: 600px) {
  .navbar {
      display:flex;
      flex-direction: column;
  }
}

/*------music section-------*/

.music {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  height: 100vh;
  margin-bottom: 50px;
}
.music div {
  padding-top: 40vh;
}
.music h1, .music p {
 text-align: center;
 color: #fff;
}

.music p{
  font-size: 24px;
}

/*------info section------*/

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info h2 {
  font-size: 32px;
  color: #1A1A1A;
  text-align: center;
  line-height: 3px;
}

.info hr {
  width: 300px;
  height: 5px;
  background-color: #00B172;
  margin-bottom: 64px;
}

.music-icon img{
  height: 90px;
}

.col {
  color: #00B172;
  text-align: center;
  width: 300px;
}
.col h3 {
  font-size: 28px;
}

.col p {
  color:  rgba(26, 26, 26, 0.5);
  font-size: 24px;
  font-weight: 100;
}

/* last section */

.last-section {
  background-color: #00B172;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;  
  padding: 30px;
  margin: 20px;
}

#spotify-app-img > img {
  height: 500px
}

#section-content {
  width: 600px;
}
#section-content > h2 {
  margin: 0;
  font-size: 32px
}

#section-content > hr {
  margin-bottom: 28px;
  max-width: 425px;
  height: 3px;
  background-color: #fff;
  border: none;
}

.container-text {
  max-width: 300px;
}
.container-text > h3 {
  margin: 0;
  font-size: 28px
}

.container-text > p {
  margin-bottom: 28px;
  font-size: 24px
}


#spotify-icon > img{
  height: 130px;
}
.vertical-align {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  flex-wrap: wrap;
}